{% load static %}
{% include '../navbar.html' %}
<head>
    <title>About Beyond Academia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class = "about section">
        <h1> About Beyond Academia</h1>
        <div class="about-section">
         <p> Beyond Academia is a comprehensive communication app designed specifically for college communities. With Beyond Academia, students, faculty, and professors can connect and communicate effortlessly through text and voice messaging—all in one convenient platform. Whether you're collaborating with classmates, reaching out to professors, or staying updated with faculty announcements, Beyond Academia simplifies college communication, making it easier to stay connected and engaged. Our mission is to bring the academic community closer together, fostering a collaborative and supportive environment for everyone involved.</p>
         
         <h2> The Team</h2>
         <div class="team">
            <div class ="team-member"> 
                <!-- insert image of member img src= "{%static 'images/team_member1.jpg'}" alt="Team Member 1">-->
                <h3> Julian Taylor</h3>
                <p> Front End Dev</p>
            </div>
            <div>
                   <!-- insert image of member img src= "{%static 'images/team_member1.jpg'}" alt="Team Member 1">-->
                   <h3> Gabe Jimenez</h3>
                   <p> Front End Dev</p>
            </div>
            <div>
                <!-- insert image of member img src= "{%static 'images/team_member1.jpg'}" alt="Team Member 1">-->
                <h3> Santosh Balla</h3>
                <p> Back End Dev</p>
         </div>
         <div>
            <!-- insert image of member img src= "{%static 'images/team_member1.jpg'}" alt="Team Member 1">-->
            <h3> Vinay Joshi</h3>
            <p> Back End Dev</p>
         </div>
         </div>

    </>

</body>

{% include '../footer.html' %}
</html>