<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer Example</title>
        
        
        <link href="styles.css" rel="stylesheet">
    </head>
<body>

    
    <footer class="footer-fix">
        <div class="footer-content">
            <div class="footer-left">
                <p>© 2024 Beyond/Academia. All rights reserved.</p>
            </div>
            <div class="footer-right">
                <div class="social-media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>