{% extends 'main.html' %}

{% block content %}
<section class="banner">
    <div class="container">
        <h1>Welcome to Beyond/Academia</h1>
        <p>Your ultimate platform for career and school success!</p>
    </div>
</section>

<div class="homepage">
    

    <div >
        {%include 'base/topics_component.html'%}
    </div>

    <div >
       
        <div class="create-room-container">
            <a class="create-room" href="{% url 'create-room' %}">Create Room</a>
        </div>
    
        {%include 'base/feed_component.html'%}
    </div>

    <div>
        {%include 'base/activity_component.html'%}
    </div>

    
</div>
{% endblock content  %}