{% extends 'main.html' %}

{% block content %}


<div class="homepage">

    <div class="topic">
        <h2> Browse Topics</h2>
        <hr>

        <ul>
            <li>
                <a href="{% url 'home' %}">All</a>
            </li>
            {% for topic in topics %}

            <li>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </li>

            {% endfor %}
        </ul>
    </div>

    <div class="home-content">
        <section>
            <div class="discussion-header">
                <h2>Recent discussions</h2>
                <button>
                    <a href="{% url 'create-room' %}">Create Room</a>
                </button>
            </div>
            <div class="discussion">
                {% for room in rooms %}


                <div class="discussion-item">
                    
                    <p class="date">{{room.created|timesince }} ago</p>
                    <h3><a style="text-decoration: none; color: black;" href="{%url 'room' room.id%}">{{room.name}}</a></h3>
                    <h4>{{room.topic}}</h4>
                    <p>{{room.host.username}}</p>
                </div>


                <!-- <div>
                    {% if request.user == room.host %}
                    <a href="{%url 'update-room' room.id%}">Edit</a>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                    {% endif %}

                    <span>@{{room.host.username}}</span>
            
                    <h5>{{room.id}} -- <a href="{%url 'room' room.id%}">{{room.name}}</a></h5>

                    <small>{{room.topic.name}}</small>
                    <hr>
                </div> -->
                
                {% endfor %}
            </div>
        </section>
    </div>

    
</div>
{% endblock content  %}