{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login-container">
    <div class="login-card">
        <div class="left">
            <h2><strong>Beyond</strong><br><strong>Academia</strong></h2>
        </div>
        <div class="divider"></div>
        <div class="right">
            <h3>Login</h3>
            <form action="#" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">register</a></p>
        </div>
    </div>
</div>


{% endblock content %}