{% extends 'main.html' %}
{% load static %}


{% block content %}
<section class="banner">
   <div class="container">
       <h1>profile</h1>
       
   </div>
</section>
<h1 style="padding-left: 75px;"> {{ user.username }} -
   <td>
      {% for group in user.groups.all %}
      {{ group.name }}
      {% endfor %}
   </td>
</h1>
<hr>


<div style="display: grid;
grid-template-columns: 1fr 3fr 1fr;" class="profile">

   
   <div>

      {%include 'base/topics_component.html'%} 
      

   </div>
  

   

   <div>
      <h1 style="text-align: center;" > Contributions</h1>
      {% include 'base/feed_component.html'%}

   </div>

   <div>
      
      {%include 'base/activity_component.html'%}  

   </div>
   
</div>







{% include '../footer.html' %}
{%endblock%}
