{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="register-container">
        <!-- Registration Form -->
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input  type="submit" value="Register"/>

          
        </form>
        <h1 id="signup">Already have an account? <a href="{% url 'login' %}" id="button2">Login</a></h1>
    </div>
</body>
</html>
{% include '../footer.html' %}
{% endblock content %}
