{% extends 'main.html' %}

{% block content %}
    <div class="register-container" >
        <!-- Registration Form -->

        <form method="POST" action="" >
            {% csrf_token %}

            <label for="username">Enter Username</label>
            {{form.username}}
            <label for="password">Password</label>
            {{form.password1}}
            <label for="re-password">Re-Enter Password</label>
            {{form.password2}}
            <input  type="submit" value="Register"/>

          
        </form>
        <h1 id="signup">Already have an account? <a href="{% url 'login' %}" id="button2">Login</a></h1>
    </div>
{% include '../footer.html' %}
{% endblock content %}
