{% extends 'main.html' %}

{% block content %}
<div style=" background: linear-gradient(to left, #1a1a1a, #007BFF);">
    <div class="register-container" >
        <!-- Registration Form -->

        <form class="form1" method="POST" action="" >
            {% csrf_token %}
            <h1 id="Register">Register</h1>
            <label for="username">Enter Username</label>
            {{form.username}}
            <label for="password">Password</label>
            {{form.password1}}
            <label for="re-password">Re-Enter Password</label>
            {{form.password2}}
            <input  type="submit" id="button1" value="Register"/>
            <h1 id="signup">Already have an account? <a href="{% url 'login' %}" id="button2">Login</a></h1>

        </form>
    </div>
</div>
    
    
{% include '../footer.html' %}
{% endblock content %}
