{% extends 'main.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/create-room.css' %}">
<div class="create-post-container">
    <div class="create-post-card">
        <div class="card-header">
            <a href="/" class="back-link">←</a> Create Post
        </div>
        <div class="form-container">
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="title">Title:</label>
                {{form.name}}
                <label for="tags">Tags:</label>
                {{ form.topic }}

                <label for="description">Description:</label>
                {{ form.description }}
                
                <button type="submit">Post</button>
            </form>
        </div>
    </div>
</div>

<!--     
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form> -->

{% endblock content %}