{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="room-container">
    {% if request.user == room.host %}
    <a href="{%url 'update-room' room.id%}">Edit</a>
    <a href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %}
    <div class="room-box">

        <h1>{{ room.name }}</h1>
        <p>{{ room.description }}</p>

        <div  class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>

            {% for message in room_messages %}
            <div class="roomcon">
                {% if request.user == message.user %}
                <a href="{% url 'update-message' message.id %}">Edit</a>
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                
                <small>@{{ message.user }} {{ message.created|timesince }} ago </small>
                <p>{{ message.body }}</p>
                <hr>
            </div>
            {% endfor %}
        </div>

        <!-- Comment Form -->
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here..."/>
            </form>
        </div>
        {% endif %}
    </div>

    <!-- Contributors Section -->
    <div class="contributors">
        <h3>Contributors</h3>
        <hr>
        {% for user in participants %}
        <div>
            <p>@{{ user.username }}</p>
        </div>
        {% endfor %}
    </div>
    

</div>

{% endblock %}
